services:
  db:
    image: postgis/postgis:15-3.4
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: metacatalog
    platform: linux/amd64
    expose:
      - 5432
    ports:
      - 5433:5432
    volumes:
      - ./data/pg_data:/var/lib/postgresql/data
    # healthcheck:
    #   test: ["CMD-SHELL", "sh -c 'pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}'"]
    #   interval: 30s
    #   timeout: 1s
    #   retries: 3
    #   start_period: 50s
    #   start_interval: 1s


    
  loader:
    build:
      context: .
      dockerfile: Dockerfile
    links:
      - db
    # depends_on:
    #     db:
    #         condition: "service_completed_successfully"
    environment:
      METACATALOG_URI: postgresql://postgres:postgres@db:5432/metacatalog
    command: ["echo", "The tool can be started using 'docker compose run --rm loader python run.py'"]
    volumes:
      - ./in:/in
      - ./out:/out
      - ./data/raster:/data/raster
      - ./src:/src
